<!DOCTYPE html>
<html lang="en">

<head>
  <title>Schooodle Poll</title>
  <% include partials/_head.ejs %>˝
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <% include partials/_nav_bar.ejs %>
  <main class="">
    <div class="row col-12">
      <div class="col-1"></div>
      <div class="aLittleBitDown andWeWantedBlue weWantItRounded col-10">
        <header data-super_secret_URL="<%= super_secret_URL %>">
          <h1>Hello Pollers!</h1>
        </header>
        <div>Event title:
          <%= title %>
        </div>
        <div>Event location:
          <%= place %>
        </div>
        <div>Event note:
          <%= note %>
        </div>

        <label for="organizer_name">Name</label>
        <input class="form-control form-control-m" id="organizer_name" type="text" name="username" value="<%= organizer_name %>">
        <label for="organizer_email">Email</label>
        <input class="form-control form-control-m" id="organizer_email" type="text" name="email" value="<%= organizer_email %>">

        <section data-event_id="<%= event_id %>">
       
        <form id="voteForm" action="/vote" method="POST">
          <input type="hidden" id="<%= event_id %>" name="event_id" value="<%= event_id %>">
          <div class=" btnShouldBeCenterAndALittleBitUp">
            <input class="btn btn-primary" id="voteButton" type="submit" value="Vote">
          </div>
        </form>
      </section>
      </div>
      <div class="col-1"></div>
    </div>
    <% include partials/_footer.ejs %>
  </main>


</html>
